In [1]:
a = ["apple", "orange", "banana", "lemon", "zambarau"]

for element in a:
    print(element)

apple
orange
banana
lemon
zambarau

In [2]:
b = [10, 20, 5]
total = 0
for e in b:
    print(total + e)

10
20
5

In [4]:
#find sum
c = list(range(1, 5)) #1 upto 4,5 not included
print(c)

[1, 2, 3, 4]

In [10]:
total2 = 0
d = list(range(6,10))
for i in range (6,10):
    total2 += 1
print(total2)

4

In [11]:
print(list(range(1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [13]:
total3 = 0
for i in range(1, 8):
    if i % 3 == 0:
        total3 += i
        
print(total3)

9

In [15]:
# multiples of 3 and 5 that are less than 100
total = 0
print(list(range(1,100)))
for i in range(1, 100):
    if i % 3 == 0 or i % 5 == 0:
        total += i
        
print(total)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
2318